Repository googleapis/ruby-spanner-activerecord, pull requests merged in 2021-09, with the labels that each got.

#123 feat: support JSON data type
  acceptance/cases/type/all_types_test.rb
  acceptance/cases/type/json_test.rb
  acceptance/schema/schema.rb
  acceptance/test_helper.rb
  activerecord-spanner-adapter.gemspec
  lib/active_record/connection_adapters/spanner_adapter.rb
  lib/active_record/type/spanner/spanner_active_record_converter.rb
  test/activerecord_spanner_adapter/connection_mock_server_test.rb
  test/activerecord_spanner_adapter/table/column_test.rb
  test/activerecord_spanner_mock_server/model_helper.rb
  test/activerecord_spanner_mock_server/spanner_active_record_with_mock_server_test.rb
  test/migrations_with_mock_server/db/migrate/03_create_all_native_migration_types.rb
  test/migrations_with_mock_server/migrations_with_mock_server_test.rb
  test/mock_server/spanner_mock_server_test.rb
  test/mock_server/statement_result.rb
Labels: api: spanner, cla: yes

#121 build: skip acceptance tests on prod when secrets are not available
  .github/workflows/acceptance-tests-on-production.yaml
Labels: api: spanner, automerge, cla: yes

#126 feat: support stale reads in read-only transactions
  acceptance/cases/transactions/read_only_transactions_test.rb
  examples/snippets/read-only-transactions/application.rb
  examples/snippets/read-only-transactions/db/schema.rb
  lib/active_record/connection_adapters/spanner/database_statements.rb
  lib/activerecord_spanner_adapter/transaction.rb
  test/activerecord_spanner_mock_server/read_only_transaction_test.rb
Labels: api: spanner, automerge, cla: yes

#127 feat: support single stale reads
  acceptance/cases/transactions/read_only_transactions_test.rb
  examples/snippets/stale-reads/README.md
  examples/snippets/stale-reads/Rakefile
  examples/snippets/stale-reads/application.rb
  examples/snippets/stale-reads/config/database.yml
  examples/snippets/stale-reads/db/migrate/01_create_tables.rb
  examples/snippets/stale-reads/db/schema.rb
  examples/snippets/stale-reads/db/seeds.rb
  examples/snippets/stale-reads/models/album.rb
  examples/snippets/stale-reads/models/singer.rb
  lib/active_record/connection_adapters/spanner/database_statements.rb
  lib/activerecord_spanner_adapter/connection.rb
  lib/arel/visitors/spanner.rb
  lib/spanner_client_ext.rb
  test/activerecord_spanner_mock_server/read_only_transaction_test.rb
  test/mock_server/spanner_mock_server.rb
Labels: api: spanner, automerge, cla: yes

#128 Fix wrong exception was raised when db:create
  lib/active_record/tasks/spanner_database_tasks.rb
Labels: api: spanner, cla: yes

#130 docs: update README.md to remove unnecessary git link
  examples/rails/README.md
Labels: api: spanner, cla: yes

#129 Fix another adapter transaction was broken when using multiple adapter
  lib/activerecord_spanner_adapter/base.rb
Labels: api: spanner, automerge, cla: yes

#133 chore: Update path to release scripts
  .toys/release.rb
Labels: api: spanner, cla: yes

#136 docs: add sample for Partitioned DML
  examples/snippets/partitioned-dml/README.md
  examples/snippets/partitioned-dml/Rakefile
  examples/snippets/partitioned-dml/application.rb
  examples/snippets/partitioned-dml/config/database.yml
  examples/snippets/partitioned-dml/db/migrate/01_create_tables.rb
  examples/snippets/partitioned-dml/db/schema.rb
  examples/snippets/partitioned-dml/db/seeds.rb
  examples/snippets/partitioned-dml/models/album.rb
  examples/snippets/partitioned-dml/models/singer.rb
Labels: api: spanner, cla: yes, samples
